<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flipped.mall.admin.mapper.PermissionMapper">
    <resultMap id="permissionsWithTreeVOMap" type="com.flipped.mall.admin.entity.vo.PermissionsWithTreeVO">
        <id property="permissionId" column="permission_id"/>
        <result property="permissionName" column="permission_name"/>
        <result property="permissionValue" column="permission_value"/>
        <result property="path" column="path"/>
        <result property="parentId" column="parent_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <update id="updatePermissionEnable">
        UPDATE sys_permission
        <set>
            `enable` = #{enable},
        </set>
        WHERE permission_id = #{permissionId}
    </update>

    <!-- 查询已启用的权限列表 -->
    <select id="selectPermissionsVO" resultMap="permissionsWithTreeVOMap">
        SELECT permission_id, permission_name, permission_value, `path`, parent_id, create_time
        FROM sys_permission
        WHERE `enable` = 1
    </select>

    <select id="listPermissionsByUserid"
            resultType="com.flipped.mall.admin.entity.PermissionEntity">
        SELECT p.permission_id,
        p.permission_name,
        p.permission_value,
        p.path,
        p.parent_id,
        p.type,
        p.icon,
        p.sort,
        p.enable,
        p.description,
        p.create_by,
        p.create_time,
        p.update_by,
        p.update_time
        FROM sys_user u
        INNER JOIN sys_user_role ur ON u.userid = ur.userid
        INNER JOIN sys_role_permission rp ON ur.role_id = rp.role_id
        INNER JOIN sys_permission p ON rp.permission_id = p.permission_id
        WHERE u.userid = #{userid}
    </select>

    <select id="listPermissionsWithTreeByUserid" resultType="com.flipped.mall.admin.entity.dto.AdminPermissionDTO">
        SELECT p.permission_id,
               p.permission_name,
               p.permission_value,
               p.path,
               p.parent_id,
               p.type,
               p.icon,
               p.sort,
               p.enable
        FROM sys_permission p
    </select>
</mapper>