<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flipped.mall.admin.mapper.RolePermissionMapper">
    <select id="listPermissionsByRoleIds"
            resultType="com.flipped.mall.admin.entity.PermissionEntity">
        SELECT p.permission_id,
        p.permission_name,
        p.permission_value,
        p.`path`,
        p.parent_id,
        p.type,
        p.icon,
        p.sort,
        p.`enable`,
        p.description,
        p.create_by,
        p.create_time,
        p.update_by,
        p.update_time
        FROM sys_role_permission rp
        INNER JOIN sys_permission p ON rp.permission_id = p.permission_id
        WHERE rp.role_id IN
        <foreach collection="roleIds" item="roleId" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>

    <delete id="deleteByRoleId">
        DELETE
        FROM sys_role_permission
        WHERE role_id = #{roleId}
    </delete>
</mapper>