<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laughingather.gulimall.adminnew.mapper.SysPermissionMapper">
    <resultMap id="permissionsWithTreeVOMap" type="com.laughingather.gulimall.adminnew.entity.vo.PermissionsWithTreeVO">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="name" column="name"/>
    </resultMap>

    <!-- 更新权限删除标志位 -->
    <update id="batchUpdatePermissionDelete">
        UPDATE sys_permission
        <set>
            `delete` = #{status}
        </set>
        <where>
            <if test="permissionIds != null and permissionIds.size() != 0">
                id IN
                <foreach collection="permissionIds" item="permissionId" index="index" separator="," open="(" close=")">
                    #{permissionId}
                </foreach>
            </if>
        </where>
    </update>

    <update id="updatePermissionDelete">
        UPDATE sys_permission
        <set>
            `delete` = #{status}
        </set>
        WHERE id = #{permissionId}
    </update>

    <select id="selectPermissionsVO" resultMap="permissionsWithTreeVOMap">
        SELECT id, parent_id, name
        FROM sys_permission
    </select>
</mapper>