<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.laughingather.gulimall.admin.mapper.SysUserMapper">
    <!-- 更新用户删除标志位 -->
    <update id="updateUserStatusById">
        UPDATE sys_user
        SET enable = #{enable}
        WHERE userid = #{userid}
    </update>

    <update id="updateUserPasswordById">
        UPDATE sys_user
        SET password = #{password}
        WHERE userid = #{userid}
    </update>
</mapper>